* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #207f9e;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-color: #cfdaec;
    text-align: center;
    padding: 80px 20px;
}

.hero h2 {
    font-size: 36px;
    color: #1e7aa1;
}

.hero p {
    margin: 15px 0;
    font-size: 18px;
}

.hero button {
    padding: 10px 25px;
    background-color: #9c2626;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.services {
    padding: 60px 20px;
    text-align: center;
}

.service-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background-color: #d4e0eb;
    padding: 30px;
    width: 200px;
    border-radius: 10px;
    font-weight: bold;
}

.gallery {
    background-color: #d2e2ec;
    padding: 55px 15px;
    text-align: center;
}

.images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.img-box {
    background-color: #d1c4e9;
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.contact {
    padding: 50px 20px;
    text-align: center;
}

footer {
    background-color: #4e888f;
    color: white;
    text-align: center;
    padding: 15px;
}
